<%- include ../partials/header.ejs %>

<main class="container" id="listb">
    <h1>Breakfast List</h1>
    <ul class="list-group"  >
        <% for (var i = 0; i < lists.length; i++) { %>
            <li class="list-group-item">
                <!-- link to /lists/:id -->
                <a href="/lists/<%= lists[i]._id%>" title="Read More">
                    <%= lists[i].title %></a>
            </li>
        <% } %>
    </ul>
     <a id ="addb" href="/lists/add" title="Add Article">Add a new Breakfast</a>
</main>

</body>
</html>