<%- include partials/header.ejs %>
 
    <section class="container-fluid" id="section1">
        <div class="v-center">
            <h1 class="text-center">Find what you want...</h1>
            <h2 class="text-center lato animate slideInDown">Explore <span><b>meal</b></span>, <span><b>ingredient</b></span></b>&nbsp;and <span><b>cooking method</b></span></h2>

            <br>
            <div class="form-group form-group-lg">
                <div class="col-md-4 col-md-offset-4">
                    <input class="form-control text-center" type="search" id="lg">
                </div>
                <a href="index.html">
                    <img id="glass" class="img-responsive" src="/images/magnifying-glass32.png">
                </a>
            </div>
            </p>
        </div>
        <a href="#section2">
            <div class="scroll-down bounceInDown animated">
                <span>
                <i class="fa fa-angle-down fa-2x"></i>
            </span>
            </div>
        </a>
    </section>

    <section class="container-fluid" id="section2">
        <div class="container">
            <h2>Explore Recipes</h2>
            <div class="row">
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="panel panel-default slideInLeft animate">
                                <div class="panel-body">
                                    <img src="/images/breakfast.jpg" class="img-responsive" />
                                </div>
                                <div class="panel-heading">
                                    <a href="/breakfastl"><h3>Breakfast</h3></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="panel panel-default slideInLeft animate">
                                <div class="panel-body">
                                    <img src="/images/lunch.jpg" class="img-responsive" />
                                </div>
                                <div class="panel-heading">
                                    <a href="#"><h3>Lunch</h3></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="panel panel-default slideInLeft animate">
                                <div class="panel-body">
                                    <img src="/images/dinner.jpg" class="img-responsive" />
                                </div>
                                <div class="panel-heading">
                                    <a href="#"><h3>Dinner</h3></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <div class="panel panel-default slideInLeft animate">
                                <div class="panel-body">
                                    <img src="/images/ingredients.jpg" class="img-responsive" />
                                </div>
                                <div class="panel-heading">
                                    <a href="#"><h3> Ingredients</h3></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--/row-->

            <br>
            <!--second row-->
            <br>
            <br>

            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 id="fadeInLeftBig" class="animated infinite fadeInLeftBig">Follow Us</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                        <a href="#">
                            <img src="/images/chef1.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-3" id="chef1">
                        <h3> Jocelyn Herland</h3>
                        <br>
                        <p>Jocelyn interprets Alain Ducasse’s cuisine in London in a contemporary and refined way. In keeping with Alain Ducasse’s philosophy, the ingredients are the key elements. Jocelyn Herland only uses the freshest and most seasonal products, strictly sourced for their quality.</p>
                        <a href="#"><span class="label label-default">Appetizer</span>
                        <a href="#"><span class="label label-primary">Dessert</span></a>
                        <a href="#"><span class="label label-success">Main Dish</span></a>
                        <a href="#"><span class="label label-warning">Vegetarian</span> </a>
                    </div>

                    <div id="chef2" class="col-md-2">
                        <a href="#">
                            <img src="/images/chef2.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-md-3" id="chef2">
                        <h3> Hélène Darroze</h3>
                        <br>
                        <p>Darroze is so well-known in the restaurant world that she inspired the character of Colette in the 2007 film Ratatouille. She reveals towards the end of the movie is more fitting – and goes some way to explaining why the chef is loved and admired by many across the industry.</p>
                        <a href="#"><span class="label label-danger">French Cuisine</span>
                        <a href="#"><span class="label label-success">Main Dish</span></a>
                        <a href="#"><span class="label label-info">Soups</span></a>
                        <a href="#"><span class="label label-warning">Dessert</span> </a>
                    </div>
                </div>
            </div>
        </div>

        <!--/container-->
    </section>
    <section class="container-fluid" id="section6">
        <ul class="row list-unstyled">
            <li class="col-md-6 col-md-offset-1 col-xs-10 col-xs-offset-1">
                <h3 class="text-center">There’s more! Meal, ingredient, and cooking method.</h3>
            </li>
            <li class="col-md-3 col-md-offset-0 col-xs-10 col-xs-offset-1 text-center">
                <a href="recipe.html" class="center-block btn btn-default btn-lg btn-huge lato animate slideInRight">More Recipes..</a>
            </li>
        </ul>
    </section>




 
<%- include partials/footer.ejs %>