<%- include partials/header.ejs %>
  <section class="container-fluid" id="section1">
        <div class="v-center">
            <h1 class="text-center">Find Your Breakfast...</h1>
            <h2 class="text-center lato animate slideInDown">Explore <span><b>meal</b></span>, <span><b>ingredient</b></span></b>&nbsp;and <span><b>cooking method</b></span></h2>

            <br>
            <div class="form-group form-group-lg">
                <div class="col-md-5 col-md-offset-5" id="log">
                   <a  href="/auth/login" title="Login">Login</a> or <a href="/auth/register" title="Register">Register</a>
                </div>
            </div>
            </p>
        </div>
 
    </section>

    

 
<%- include partials/footer.ejs %>