@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Bitter:400);
 html,
body {
    font-family: 'Lato', sans-serif; color:#ff920a; 
    background-image: url('/images/tu1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  
}
/*nav styles*/
#nav {
    color:#ff920a;
    font-size: 1.3em;
    padding: 1%;
    background: rgba(76,76,76,1);
    font-weight: bold;
    border:none;
}
#log a {
    font-size: 2em;
    color: white;
}
#log a:hover{
    font-size: 2.2em;
    background-color:#e73827;
    padding:2%;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    
}
#nav a {
    color:#ff920a;
    text-decoration: none;
}
#nav a:hover {
    color: whitesmoke;
    font-size: 1.4em;
}
@media (min-width: 768px) {
    h1 {
        font-size: 68px;
    }
}
/* list styles*/
#addb {
    background-color:#e73827;
    padding:1%;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    color:white;
}

#listb {
    background: rgba(76,76,76,0.7);
   padding-bottom: 2%;
     border-radius: 10px 10px 10px 10px;
}
#listb a {
    font-size: 1.4em;
}
#listb a:hover{
    color:#ff920a;
    text-decoration: none;
}

#logb {
     background: rgba(76,76,76,0.7);
   padding-bottom: 2%;
     border-radius: 10px 10px 10px 10px;
}
#regb {
       background: rgba(76,76,76,0.7);
   padding-bottom: 2%;
     border-radius: 10px 10px 10px 10px;
}
#addbr{
    background: rgba(76,76,76,0.7);
   padding-bottom: 2%;
     border-radius: 10px 10px 10px 10px;
}
#editb{
      background: rgba(76,76,76,0.7);
   padding-bottom: 2%;
     border-radius: 10px 10px 10px 10px;
}
#click{
    color:white;
    text-decoration: none;
    font-size: 1.5em;
}
/*footer styles*/
footer {
    margin-top: 20%;
    padding: 0.7%;
    background: #ff920a;
    color:white;
}
footer a {
    color:rgba(76,76,76,1);
}